/*! HTML5 Boilerplate v5.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-family: Georgia, Serif;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*********************
COLORS
*********************

primary color -
text color -
hover color - #e60015
visited color -
background color - main header/footer - #400003
background-color - main background - #
background color - article header - #D80018
accent color -
warning color -
error color -  */


/**************
STYLES FOR ENTIRE SITE
***************/
body {
  background-color: black;
}

header {
  background-color: #004020;
  color:white;
  padding:1% 4%;
  overflow:auto;
}

header h1 {
  float: left;
  font-size: 5vw;
  padding: 0;
  text-align: center;
}

.mainMenu {
  list-style:none;
  float: right;
  font-variant: small-caps;
  margin: 0;
  padding: 0;
}

.mainMenu li {
  display: inline-block;
  text-align:right;
  font-weight: 800;
	padding: 0px 10px;
}

.mainMenu a {
  color: white;
  text-decoration: none;
}

.mainMenu a:visited {
  color:white;
}

.mainMenu a:hover {
  color:#e60015;
}

.mainMenuIcon {
  max-width: 35px;
}

main {
  clear:both;
  background:#301830;
}

.articleLinks {
  background-color:#ffe8b2;
  border: double #D86018;
  color:#D86018;
  margin:2%;
}

.articleLinks h2 {
  font-variant: small-caps;
  padding-left: 3%;
  padding-right: 3%;
}

.articleLinks ul {
  font-weight:800;
  list-style: none;
  padding-left: 3%;
  padding-right: 3%;
}

.articleLinks a {
  color:black;
  text-decoration: none;
}

.articleLinks a:visited {
    color:#555;
    text-decoration: none;
}

.articleLinks a:hover {
  color:#e60015;
  text-decoration: none;
}

img#logo {
  display: none;
}

.mainFooter{
  background: #004020;
  clear:both;
  color:white;
  padding:2%;
  text-align: right;
  margin-top: 0;
}

/****************
PAGE: Journal
****************/

.journal {
  background:white;
  border-left:solid black;
  margin: 0 2% 0;
  padding-bottom: 10px;
}

.articleHeader {
  background-color:#D80018;
  color: #FFC141;
  min-height:0;
}

.articleHeader h1 {
  padding: 0;
}

.articleHeader h2 {
  padding:0;
}

.articleText {
  margin-left: 5%;
  margin-right: 5%;
}

.weekNumber {
  text-transform: uppercase;
}

.articleFooter {
  border-bottom: 2px solid black;
  color: #888;
  font-size: smaller;
  font-style:italic;
  padding-bottom: 2%;
  text-align: center;
}

.computerCommand {
  color:red;
}

#gitMentalImage {
  float:right;
  width: 35%;
}

#HTMLforFloat {
  float: left;
  margin-right:3%;
  width: 40%;
}

#boxesNoFloat {
  display: block;
  height:400px;
  margin-left: auto;
  margin-right: auto;
}

#CSSwFloat {
  display: block;
  height:400px;
  margin-left: auto;
  margin-right: auto;
}

#CSS_wFloat_Result {
  display: block;
  max-width: 100%;
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

#CSS_wFloatAndOverflow {
  display: block;
  height:400px;
  margin-left: auto;
  margin-right: auto;
}

#CSS_wFloatAndOverflow_Result  {
  display: block;
  max-width: 100%;
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background-color: lightgrey;
  padding: 2%;
  border: 2px solid darkgrey;
  border-radius: 3%;
}

#theDessert {
  margin: 15px auto;
  width: 90%;
}

/****************
PAGE: Glossary
****************/

.glossary {
  background-color:white;
  margin-left: 34%;
  border-left:solid black;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.dictionaryHeader {
  background-color:#d5e5d3;
  color: #444;
  min-height:0;
}

  dt {
    color: #400003;
    font-weight: bold;
    padding-left: 3%;
    }


  dd {
    margin-bottom: 3%;
    }

/**********
STYLES FOR LARGER SCREENS
***********/

/****************
PAGE: Desktop - Journal
****************/

@media screen and (min-width: 800px) {
    header h1 {
      font-size: 2.8vw;
    }

    .mainMenu {
      list-style:none;
      float: right;
      font-variant: small-caps;
      margin: 0;
      padding-top: 15px;
    }

    .articleLinks {
      float: left;
      width:30%;
      max-width:360px;
    }

    img#logo {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto
    }

    .journal {
      margin-left: 34%;
    }

}
