@import "_reset.scss";

//Mary Cassatt Color Palette
$bodyBackgroundColor: #003300;
$bodyH2Color: OrangeRed;
$bodyTextColor: purple;
$bodyTextLink: SaddleBrown;
$headerFooterBGColor: #484510/2;
$headerFooterTextColor: white;
$navBackgroundColor: #444;
$navTextColor: #FFE6B2;
$navBorderColor: OrangeRed;
$journalEntryBackground: #efefef;
$journalEntryText: #222;

@mixin roundedCorners($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin imageResize() {
  display: block;
  max-width: 100%;
  width:400px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

body {
  background-color: $bodyBackgroundColor;
  color: $bodyTextColor;
  font-family: Helvetica;
  line-height: 1.2em;
    h1 {
      font-size: 2em;
    }
    h2 {
      color: $bodyH2Color;
      font-size: 1.4em;
      padding: 10px 0;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 1.3em;
    }
    p {
      padding-bottom: 20px;
    }
    a {
      color: $bodyTextLink;
    }
  code {
    color: maroon;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    }

.mainHeader {
  background-color: $headerFooterBGColor;
  color: $headerFooterTextColor;
  overflow:auto;
  padding: 15px;
  h1 {
    font-size: 4vw;
    text-align: center;
    margin: 2%;
    }
  .mainMenu {
    list-style:none;
    font-variant: small-caps;
    text-align: center;
  }
  li {
    display: inline-block;
    text-align:center;
    font-weight: 800;
	  padding: 0px 10px;
    .mainMenuIcon {
      max-width: 35px;
    }
  }
}


nav {
  background-color: $navBackgroundColor;
  border: double $navBorderColor;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 5px;
  padding: 5%;

  h2 {
   color: $navTextColor;
   font-size: 1.2em;
   line-height: 1.3em;
  }
  h3 {
    color: $navTextColor;
    margin-top: 1em;
  }
  ul {

  }

  ol {
    list-style: inside decimal;
    padding: 10px;
  }

  li{
    padding-bottom: 10px;
  }

  a {
    color: $navTextColor*2;
  }

}

.journalEntry {
  ul {
    list-style: inside square;
  }
  ol {
    list-style: inside decimal;
  }
}

.articleLinks {
  @media (min-width: 800px) {
  float: left;
  width:20%;
  max-width:360px;
}
}

img#logo {
  display: none;
  @media (min-width: 800px) {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
}

.journal {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5px;
  @media (min-width: 800px) {
      margin-left: 34%;
  }
}

.journalEntry {
  @include roundedCorners(15px);
  background-color: $journalEntryBackground;
  border: 3px solid black;
  color: $journalEntryText;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5%;
    }
}

#logo, #gitMentalImage, #boxesNoFloat, #HTMLforFloat, #CSSwFloat, #CSS_wFloat_Result, #CSS_wFloatAndOverflow, #CSS_wFloatAndOverflow_Result {
  @include imageResize();
}

#shadowTest {
  font-size: 2em;
  text-align: center;
  margin: 10px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

//glossary

.glossary {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5px;
  @media (min-width: 800px) {
      margin-left: 36%;
  }
}

dt {
  font-weight:bold;
  margin-top: 5px;
}

dd {
  margin-bottom: 15px;
  margin-top: 5px;
}

.mainFooter {
  background-color: $headerFooterBGColor;
  clear: both;
  color: $headerFooterTextColor;
  padding: 10px;
}
