@import "_reset.scss";

//Mary Cassatt Color Palette
$bodyBackgroundColor: pink;
$frontCard_H2Color: #333;
$bodyH2Color: #A2834E;
$bodyH3Color: #A2834E;
$bodyTextColor: #222;
$bodyTextLink: #ddd;
$borderColor: #A2834E;
$introTextColor: #A2834E*3;
$headerFooterBGColor: #080400;
$headerFooterTextColor: white;
$seeMoreButtonBGColor: #002266;


@mixin roundedCorners($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin imageResize() {
  display: block;
  max-width: 100%;
  width:400px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

@mixin vertical-gradient($start: $bodyBackgroundColor, $stop: $headerFooterBGColor) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}

body {
  // @include vertical-gradient;
  // background-color: $bodyBackgroundColor;
  background-image: url(../img/bg_texture_Clouds_blur.jpg);
    background-repeat: no-repeat scroll;
    background-position: center top;
    position: relative;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  color: $bodyTextColor;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
  padding-bottom: 50px;
    h1 {
      font-size: 2em;
    }
    h2 {
      color: $bodyH2Color;
      font-size: 1.4em;
      padding: 10px 0;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 1.3em;
    }
    p {
      padding-bottom: 20px;
    }
    a {
      color: $bodyTextLink;
    }
  code {
    color: maroon;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    }
  }

// ANIMATION CODE
  /* The animation code */
// @keyframes bodyTransition {
//     from {background-color: #bbb;}
//     to {background-color: #555;}
// }

/* The element to apply the animation to */
// body {
//     background-color: #555;
//     animation-name: bodyTransition;
//     animation-duration: 10s;
// }

.mainHeader {
  background-color: $headerFooterBGColor;
  color: $headerFooterTextColor;
  margin-bottom: 10px;
  overflow:auto;
  padding: 15px;
  h1 {
    font-size: 4vw;
    text-align: center;
    margin: 2%;
    }
  .mainMenu {
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
    align-items: center;
      -webkit-align-items: center;
    justify-content: center;
      -webkit-justify-content: center;
    flex-direction: column;
      -webkit-flex-direction: column;
      @media screen and (min-width: 600px) {
          flex-direction: row;
              -webkit-flex-direction: row;
      }
    li {
      font-size: 1.3em;
      font-weight: 800;
      line-height: 1.4em;
      padding: 0px 30px;
      }
      a {
        color: white;
        list-style:none;
        font-variant: small-caps;
        text-decoration: none;
        }
    }
  }

.introText {
  color: $introTextColor;
  font-size: 1.2em;
  font-style: italic;
  font-weight: light;
  line-height: 1.2em;
  margin: auto;
  max-width: 80%;
  padding: 20px;
  text-align: left;
}

// Simplfied Cards -- July 5, 2015

.flexboxContainer {
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  align-items: stretch;
    -webkit-align-items: stretch;
  justify-content: center;
    -webkit-justify-content: center;
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

article {
    background: rgba(0, 0, 0, .6);
    box-shadow: 5px 5px 25px #222;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1rem;
    width: 20rem;
}

.cardDescription {
    color: $bodyH2Color;
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    margin-bottom: 15px;
    margin-top: 5px;
}

.cardText {
  padding: 15px;
  text-align: left;
  p {
    color: #888;
  }
}

p {
	color: black;
	font-size: 16px;
}

p > a {
	color: #ddd;
}

.thingsToTry {
  list-style: square inside;
}

.finishedExperiment {
  text-decoration: line-through;
}

.mainFooter {
  background-color: $headerFooterBGColor;
  clear: both;
  color: $headerFooterTextColor;
  padding: 10px;
  position: fixed;
     bottom: 0;
  text-align: center;
  width: 100%;
  }
